.tela-pdv {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.wrap-pedido {
    height: 63vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.produto-descr {
    margin-bottom: 10px;
    text-align: left;
}

.produto-descr input {
    height: 70px;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.form-produto {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.choose-produto__quant {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__quant-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__quant-input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto__preco {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__preco-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__preco-input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto__preco-subtotal {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__preco-subtotal-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__preco-subtotal-input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.itens-vendidos {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.lista-itens {
    display: flex;
    flex-direction: column;
    border: 1px solid #ff00f7;
    height: 35vh;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 10px 0;
}

.item {
    display: flex;
    flex-direction: row;
}

.lista-itens__descr {
    text-align: left;
    font-weight: bold;
}

.lista-itens__quant {
    text-align: right;
}

.lista-itens__unit {
    text-align: right;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.total__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.total__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    color: red;
}

.btn-pagar {
    margin-bottom: 20px;
}


.wrap-pagamento {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.venda {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.venda__desconto {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.venda__desconto__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.venda__desconto__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.venda__total {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.venda__total__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.venda__total__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.venda__pago {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.venda__pago__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.venda__pago__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
}

.venda__resta {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex:1;
    position: relative;
    margin-bottom: 20px;
}

.venda__resta__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.venda__resta__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    color: red;
}

.venda__troco__input {
    flex:1;
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    color: green;
}

.pagamento {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.pagamento__cliente {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    
    position: relative;
    margin-bottom: 20px;
}

.pagamento__cliente__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.pagamento__cliente input {
    flex:1;
    font-size: 24px;
    font-weight: bold;
    text-align: right
}

.pagamento__forma-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ff00f7;
    border-radius: 5px;
}

.pagamento__forma-pagamento input{
    display: inline !important;
    background-color: blue;
}

.pagamento__forma-pagamento span{
    display: inline !important;
    background-color: red;
}
