.produto-descr {
    margin-bottom: 10px;
    text-align: left;
}

.produto-descr input {
    height: 70px;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto {
    display: inline-block;
}

.choose-produto__quant {
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__quant-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__quant-input {
    text-align: right;
    height: 90px;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto__preco {
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__preco-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__preco-input {
    text-align: right;
    height: 90px;
    font-size: 36px;
    font-weight: bold;
}

.choose-produto__preco-subtotal {
    position: relative;
    margin-bottom: 20px;
}

.choose-produto__preco-subtotal-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.choose-produto__preco-subtotal-input {
    text-align: right;
    height: 90px;
    font-size: 36px;
    font-weight: bold;
}

.itens-vendidos {
    display: inline-block;
}

.lista-itens {
    border: 1px solid #000;
    height: 35vh;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 10px 0;
}

.lista-itens__descr {
    display: inline-block;
    text-align: left;
}

.lista-itens__unit {
    display: inline-block;
    text-align: right;
}

.total {
    position: relative;
}

.total__legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.total__input {
    height: 90px;
    font-size: 36px;
    color: #ff0000;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
}
