  * { 
    box-sizing: border-box;
  }

  .autocomplete-block {
    position: relative;
  }

  .input-autocomplete {
    border: 1px solid #ff00f7;
    padding: 0.5rem;
  }
  
  .no-suggestions {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 0;
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 10px;
    width: 100%;
  }
  
  .suggestions__item {
    padding: 0.2rem;
    cursor: pointer;
  }
  
  .suggestion-active,
  .suggestions__item:hover {
    background-color: #ff00f7;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  