.tela-clientes div {
    display: inline-block;
}


.tela-clientes div button {
    margin-top: -5px;
}

@media (max-width: 480px){
    .tela-clientes div button {
        margin-bottom: 5px;
    }   
}