.tela-clientes-barra {
    display: inline-block;
}

.tela-clientes-barra button {
    margin-top: -5px;
}

@media (max-width: 480px){
    .tela-clientes.barra button {
        margin-bottom: 5px;
    }   
}