tr {
  display: flex;
  background-color: #fff;
}

thead {
  top: 114px;
  position: sticky;
}

table {
  margin-top: 55px;
}

/* td,
th {
  flex: 1 !important;
  padding-left: 10px !important;
  align-items: center !important;
}

td:last-child {
  justify-content: flex-end;
} */
