tr {
  display: flex;
}

thead {
  top: 56px;
  position: sticky;
}

td,
th {
  padding-left: 10px !important;
  flex: 1 !important;
  display: flex !important;
  align-items: center !important;
  background-color: blue;
}

td:first-child,
th:first-child {
  width: 50%;
}

.relat-dev__total {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: green;
  background-color: #ffffff;
}
