/* tr {
  display: flex;
}

thead {
  top: 56px;
  position: sticky;
}

td,
th {
  padding-left: 10px !important;
  flex: 1 !important;
  display: flex !important;
  align-items: center !important;
  background-color: blue;
}

td:first-child,
th:first-child {
  width: 50%;
} */
