.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: #ff00f7 !important;
}

.nav-link:hover {
  color: #fff !important;
  cursor: pointer;
}

.nav-link__active {
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: #ff00f7 !important;
  color: #fff !important;
}

.logo-header {
  width: auto;
  height: 40px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    width: 50%;
  }

  .navbar-dark .navbar-toggler {
    border-color: #ff00f7;
  }
}
