.nav-link {
    color: #ff00f7 !important;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link:active {
    color: #fff !important;
}

.bg-dark {
    background-color: #000 !important;
}

.logo-header {
    width: 200px;
    height: auto;
}

@media only screen and (max-width: 767px) {
	.logo-header {
		width: 180px;
    }

    .navbar-brand {
        width: 50%;
    }
    
    .navbar-dark .navbar-toggler {
        border-color: #ff00f7;
    }
}

