.fechamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fechamento__saldo {
  margin-top: 50px;
  font-size: 24px;
  color: green;
  font-weight: bold;
}

.fechamento__aviso {
  margin-top: 50px;
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.fechamento__form {
  width: 300px;
  max-width: 90%;
  margin-top: 50px;
  font-weight: bold;
  text-align: left;
}

.fechamento__input {
  margin-bottom: 10px;
}
