.App {
  text-align: center;
  padding-top: 150px;
}
@media (max-width: 576px){
  .App {
    padding-top: 140px;
  }
  .d-xs-none {
      display: none!important;
  }
}

input {
  border: 1px solid #ff00f7 !important;
  border-radius: 5px;
}
